---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import fetchApi from "../lib/strapi";
import qs from "qs";
import type Page from "../interfaces/page";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

export async function getStaticPaths() {
  const pageQuery = `text-pages?populate=deep`;
  const pages = await fetchApi<Page[]>({
    endpoint: pageQuery,
    wrappedByKey: "data",
  });

  return pages.map((page) => ({
    params: { slug: page.attributes.slug },
    props: page,
  }));
}

type Props = Page;

const page = Astro.props;
---

<Layout
  metaImage={page.attributes.SEO.metaImage.data !== null
    ? page.attributes.SEO.metaImage.data.attributes.url
    : "/OG.png"}
  metaTitle={page.attributes.SEO.metaTitle}
  metaDescription={page.attributes.SEO.metaDescription}
>
  <section class="py-24">
    <Container>
      <article class="prose prose-lg max-w-[800px] mx-auto">
        <BlocksRenderer content={page.attributes.body} />
      </article>
    </Container>
  </section>
</Layout>
