---
import fetchApi from "../lib/strapi";
import type Home from "../interfaces/home";
import Layout from "../layouts/Layout.astro";
import DecoratedText from "../components/DecoratedText.tsx";
import RenderSections from "../components/RenderSections.astro";

const homequery = `home?populate=deep`;

const homeData = await fetchApi<Home>({
  endpoint: homequery, // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});
console.log(homeData);
---

<Layout title="Home">
  <h1>Search</h1>
  <div id="search"></div>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      // @ts-ignore
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
</Layout>
