---
import Container from "../layouts/Container.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<header class="bg-dark-1 text-white py-2">
  <Container classes="flex items-center justify-between">
    <a href="/">
      <Image src={logo} alt="hca logo" />
    </a>
    <nav class="flex flex-col gap-8">
      <a href="/admissions-and-tuition">Admissions and Tuition Pages</a>
    </nav>
  </Container>
</header>
