---
import Container from "../layouts/Container.astro";
const { content } = Astro.props;

const layout = content.layout;
const layouts = {
  "image-content": "md:flex-row ",
  "content-image": "md:flex-row-reverse  ",
};

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};
---

<section class=`${backgrounds[bg]}`>
  <Container>
    <div class=`flex ${layouts[layout]}`></div>
    <h2>Cta 2 testing</h2>
  </Container>
</section>
