---
import Container from "../layouts/Container.astro";
const { content } = Astro.props;
import ButtonLink from "../components/ButtonLink.astro";

console.log(content);
---

<section class="py-20 bg-gray bg-feature-bg bg-cover bg-no-repeat">
  <Container><h2 class="text-center mb-12">{content.title}</h2> </Container>
</section>
