---
import Container from "../layouts/Container.astro";
const { content } = Astro.props;
import ButtonLink from "../components/ButtonLink.astro";

console.log(content);
---

<section class="py-20 bg-gray bg-feature-bg bg-cover bg-no-repeat">
  <Container />
</section>
