---
import Container from "../layouts/Container.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const { content } = Astro.props;

console.log(content);

---

<section class=" py-24 relative">
  <div class=" absolute top-0 right-2 lg:right-24 bg-brand-blue h-6 w-[250px]"></div>
  <div class=" absolute bottom-0 right-2 lg:right-24 bg-brand-yellow h-6 w-[250px]"></div>
  <Container>
    <div class=" max-w-[800px] mx-auto mb-14">
  {
      content.tagline && (
        <p class="mb-4 tagline text-brand-blue text-center">{content.tagline}</p>
      )
    }
    <h2 class=" text-center mb-5">{content.title}</h2>
    <BlocksRenderer content={content.description} />

</div>
<div>
  {
    content.table.map((row) => (
      <p>{row.programTitle}</p>
    ))
  }
</div>
  
  </Container>
</section>
