---
import Container from "../layouts/Container.astro";

const { content } = Astro.props;
---

<section class="py-16">
  <Container class="flex flex-col items-center justify-center">
    <h2 class="text-center">{content.title}</h2></Container
  >
  <div id="verity-form-snippet"></div>
</section>
<script
  is:inline
  src="https://verity.hcas.edu/FormCustomer/GetCustomerFormWidget?buttonBackground=%23bf8800&buttonFontColor=white&formInputBackground=%2300a1e4&formInputColor=white&IsFirstNameRequired=true&IsLastNameRequired=true&IsPhoneRequired=true&IsEmailRequired=true&IsCampusRequired=true&IsProgramOfInterestRequired=true&IsAppointmentDateRequired=false&campaignCodeField=school&campaignTypeField=school&showPlaceholders=true&showLabels=false&isFirstNameShown=true&isLastNameShown=true&isPhoneShown=true&isEmailShown=true&isCampusShown=true&isProgramOfInterestShown=true&isAppointmentDateShown=false&referrerGuid=433A485E-CF1F-49B1-B111-37969EAABB3C&schoolId=1&leadSourceId=1&backgroundImage=www.testimage.com&logoUrl=https%3A%2F%2Fverity.hcas.edu%2FContent%2Fimages%2Flogin%2FHopeCollegeOfArtsAndSciences%2Flogo.png%09"
  id="verity-form-snippet"></script>
