---
import Container from "../layouts/Container.astro";
import Form from "../components/TranscriptForm";

const { content } = Astro.props;
---

<section class="py-16">
  <Container class="flex flex-col items-center justify-center">
    <h2 class="text-center">{content.title}</h2>
    <div class="max-w-[700px] mx-auto p-2 lg:p-12 shadow-xl">
      <Form client:load />
    </div>
  </Container>
</section>
