---
import Container from "../layouts/Container.astro";
import Form from "../components/TranscriptForm";

const { content } = Astro.props;
---

<section class="py-16">
  <Container class="flex flex-col items-center justify-center">
    <h2 class="text-center">{content.title}</h2>
    <Form client:load /></Container
  >
</section>
